<section class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="text-center">Home</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="https://cdn.pixabay.com/photo/2020/08/08/02/56/hacker-5471975_960_720.png" alt="page code" class="img-fluid">
    </div>
    <div class="col-12 col-md-6">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos fugiat odio beatae consequuntur voluptas sit voluptatibus? Debitis maxime porro deserunt excepturi veritatis ipsum suscipit aspernatur, aliquid dolore at fugiat vitae et eos quibusdam sit nesciunt mollitia quis necessitatibus, consectetur illo facilis adipisci dolores quam. Vel culpa aperiam voluptates amet ipsum. Recusandae minima a quia doloribus nostrum omnis neque iste iure ducimus cumque porro et necessitatibus at nulla, voluptatem id, laboriosam itaque quo facere voluptates optio tenetur maiores hic atque! Veritatis dolorum ducimus voluptate unde asperiores eum fugit nostrum, necessitatibus voluptas excepturi error magnam corrupti praesentium! Beatae ratione, commodi accusantium fugit laborum officia eaque dicta dolorem pariatur quisquam minima rerum cumque quia distinctio quasi voluptatibus alias. Non qui incidunt molestiae culpa delectus recusandae, consequuntur facilis deleniti?</p>
    </div>

  </div> 
  </section>
